:root {
	--sage: #EDF1D6;
	--green: #9DC08B;
	--nature: #609966;
	--earth: #40513B;
}

body {
	background-color: var(--sage);
	color: var(--green);
}

#tbar {
	position: fixed;
	background-color: var(--earth);
	width: 100vw;
	height: 40px;
	animation: fadeIn 2s;
}

#ttile {
	position: fixed;
	top: 20px;
	bottom: 20px;
	left: 20px;
	color: var(--sage);
}

#ch {
	position: fixed;
	right: 10px;
	background-color: var(--sage);
	color: var(--earth);
	border: 5px solid var(--earth) 5px;
}

#nanny {
	position: fixed;
	height: 100px;
	bottom: 10px;
	right: 150px;
	z-index: 99;
}


#girl {
	position: fixed;
	height: 100px;
	top: 100px;
	left: 20px;
}


#house1 {
	position: fixed;
	height: 100px;
	top: 100px;
	left: 50px;
}


#tower {
	position: fixed;
	height: 150px;
	bottom: 300px;
	right: 150px;
}


#house2 {
	position: fixed;
	height: 100px;
	bottom: 10px;
	right: 50px;
}


#phone1 {
	position: fixed;
	height: 20px;
	top: 110px;
	left: 30px;
}


#phone2 {
	position: fixed;
	height: 20px;
	bottom: 70px;
	right: 175px;
	z-index:999;
}

#popm {
	position: fixed;
	top: 225px;
	left: 50px;
	border: 2px solid var(--nature);
	border-radius: 5px;
	padding: 5px;
	background-color: var(--nature);
	color: var(--sage);
}

#popn {
	position: fixed;
	bottom: 125px;
	left: 50px;
	border: 2px solid var(--nature);
	border-radius: 5px;
	padding: 5px;
	background-color: var(--nature);
	color: var(--sage);
}

@keyframes slide-down {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0%)
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
